* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

html {
    scroll-behavior: smooth;
}

:root {
    --primary-color: rgb(131, 129, 255);
    --secondary-color: white;

}


body {
    overflow-x: hidden;
    background-color: #010818;
}

.red {
    color: var(--secondary-color);
}

.text-white {
    color: white;
}

.text-dark {
    color: #010818;
}

.light-blue {
    color: var(--primary-color);
}

.head-blue {
    font-size: 2rem;
    color: var(--primary-color);
}

.blue {
    color: var(--secondary-color);
    font-size: 2rem;
    text-transform: capitalize;
}
.text-pri{
    color: var(--primary-color);
}








/* Header */
nav {
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70px;
    color: var(--primary-color);
    z-index: 10;

}

nav img {
    width: 63px;
    height: 63px;
    border: 2px solid var(--primary-color);
    border-radius: 100%;
    margin: 5px;
    opacity: 1.0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0 23px;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    letter-spacing: 1.5px;
    position: relative;
    transition: 0.3s ease;
}

nav a:after {
    content: "";
    position: absolute;
    background-color: var(--secondary-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

nav a:hover:after {
    width: 100%;
    border-radius: 3px;

}

nav a:hover {
    color: var(--secondary-color);

}

.left {
    font-size: 1.5rem;
    font-weight: bolder;
    display: flex;
    text-align: center;
    align-items: center;
    padding: 12px;

}

.right {
    font-weight: bold;
}
section{
    width: 80vw;
    padding: auto;
    margin: 20px auto 50px;
}




/* Home Section */
.firstsection {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px 0;
    min-height: 100vh;
    min-width: 100vw;
}



.buttons {
    padding: 30px 0;
    text-align: center;
}

.buttons img {
    width: 15px;
}

.btn {
    padding: 12px;
    background-color: var(--primary-color);
    border: 0px solid var(--secondary-color);
    border-radius: 12px;
    cursor: pointer;
    font-weight: bolder;
    margin-bottom: 10px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, box-shadow 0.3s;
    color: white;
}

.btn:hover {
    background-color:var(--secondary-color);
    color: var(--primary-color);
    box-shadow: 0px 0px 18px var(--primary-color);
    /* border: 2px solid var(--primary-color); */
}

.btn:active {
    background-color: var(--primary-color);

    box-shadow: 0px 0px 8px var(--secondary-color);
    color: white;
}


.firstsection>div {
    width: 40%;
    /* border: #010c24 10px solid; */
}

.leftsection {
    font-weight: bold;
    font-size: 2rem;
    color: white;
    min-width: 300px;
    padding: 10px;
    justify-content: center;
    text-align: center;
}

.rightsection {
    min-width: 300px;
}

.img1 {
    filter: grayscale(0) drop-shadow(0px 0px 88px var(--primary-color));
    width: 100%;
    max-height: 90vh;
    object-fit: contain;
}

.purple,
#element {
    color: var(--primary-color);
}

main hr {
    border: 0cm;
    margin: 40px 84px;
    height: 1.5px;
    background: var(--primary-color);
}








/* About */
.fourthsection h1 {
    color: var(--primary-color);

}

.fourthsection h2 {
    color: var(--primary-color);
    font-size: 1.35rem;
    margin-top: 15px;
}

.fourthsection p {
    margin-bottom: 8px;
    color: white;
    font-size: 1.2rem;
}

.fourthsection p a {
    margin-bottom: 8px;
    color: white;
}

.fourthsection p a:hover {
    margin-bottom: 8px;
    color: var(--primary-color);
    transition: 0.3s;
}

.fourthsection li {
    list-style: none;
    color: white;
}







/* skills-section */
.section-title {
    font-size: 2.5rem;
    margin-bottom: 30px;
    color: var(--secondary-color);
}

.skill-category {
    color: #f1f1f1;
    margin-bottom: 20px;

}

.category-title {
    margin-bottom: 15px;
    color: var(--primary-color);
}

.skill-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.skill-list li {
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.skill-list li img {
    width: 25px;
}







/* certificate */

a {
    text-decoration: none; /* Removes the default underline */
    color: #007BFF; /* Sets the text color */
    font-weight: bold; /* Makes the text bold */
    transition: color 0.3s ease, transform 0.3s ease; /* Adds smooth transitions */
}

a:hover {
    color: #0056b3; /* Changes the color when hovered */
    transform: scale(1.05); /* Slightly enlarges the text on hover */
}

a:focus {
    outline: none; /* Removes the default focus outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Adds a blue glow around the link */
}



/* Certificate Section */
.certificates-section {
    padding: 40px 20px;
}



.certificates-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: center;
    
}

.certificate-item {
    text-align: center;
    background-color: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.certificate-item p {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

.certificate-item a {
    display: block;
    margin-top: 5px;
    font-size: 0.9rem;
    color: var(--primary-color);
    text-decoration: none;
}

.certificate-item a:hover {
    text-decoration: underline;
}

.certificate-item:hover {
    transform: translateY(-10px);
}







/* Projects */
.project{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.project-item{
    padding: 10px;
    text-align: center;
    width: 300px;
    background-color: #20242d    ;
    border: 1px solid var(--primary-color);
    box-shadow: 0px 0px 13px var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 11px;
    height: 250px;
}
.project-item:hover{
    box-shadow: 0px 0px 33px var(--primary-color);
    transition: 0.8s;
}

.project-item:not(:hover) {
    opacity: 0.8;
}


.project-item img{
    width: 100%;
    margin-bottom: 10px;

    object-fit: contain;
}

.project-item a {
    text-underline-offset: 3px;
}
.project-item a:hover {
    color: var(--primary-color);
    transition: 0.3s;
}





/* Contact */
.contact a{
    color: var(--secondary-color);
    margin-top: 12px;
}
.contact img{

    margin-top: 8px;
    margin-right: 15px;
}
.contact a:hover{
    color: var(--primary-color);
    transition: 0.2s;
    margin-top: 12px;
}












/* Footer */
footer {
    color: white;
    height: 250px;
    padding: 20px;
    background-color: #010c24;
    background-image: url('footer-bg1.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    padding: 5vh 8vw;
    align-items: center;
    color: var(--primary-color);
    justify-content: space-around;
    font-weight: bolder;

}

.footer div {
    width: 268px;
}

.footer-first {
    font-size: 1.4rem;
}

footer li {
    list-style: none;
    margin: 8px 0;
}

footer li a {
    text-decoration: none;
    font-weight: bolder;
    color: var(--primary-color);
    margin-left: 10px;
}

footer li a:hover {
    color: white;
    font-size: 1.04rem;
}

.info-image {
    width: 25px;
    position: relative;
    top: 8px;
}

.footertags {
    margin: 5px 0;
}

.text-rights {
    text-align: center;
    padding: 0 23px;
    color: aliceblue;
}


@media (max-width: 1277px) {
    footer {
        height: 350px;
    }

}

@media (max-width: 1000px) {

    .leftsection {
        font-size: 200%;
    }

    .buttons {
        padding: 20px 0;
    }

    .btn {
        height: 90%;
        padding: 8px;
    }

    footer {
        height: 350px;
    }
}

@media (max-width: 800px) {

    .left {
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
    }

    .right {
        font-size: 0.9rem;
    }

    .leftsection {
        font-size: 180%;
    }

    .buttons {
        padding: 20px 0;
    }

    .btn {
        height: 80%;
        width: 80%;
        padding: 8px;
    }
}

@media (max-width: 700px) {
    nav {
        padding: 10px;
        text-align: center;
        display: flex;
    }

    nav ul li {
        list-style: none;
        margin: 0 15px;
    }


    .left {
        font-size: 1.2rem;
        text-align: center;
    }

    .right {
        font-size: 0.9rem;

    }

    .leftsection {
        font-size: 150%;
    }



    .ver-title {
        left: -30px;
    }

    .ver-desc {
        left: -30px;
    }

    .leftsection {
        font-size: 150%;
    }

    footer {
        height: 500px;
    }
}

@media (max-width: 620px) {


    footer {
        height: 500px;
    }

}

@media (max-width: 500px) {

    nav {
        width: 100vw;
        padding: 10px;
        display: block;

    }

    nav ul li {
        list-style: none;
        margin: 0 10px;
    }

    .left {
        text-align: center;
        font-size: 1.0rem;
    }

    .leftsection {
        font-size: 120%;
    }

    .leftsection {
        font-size: 150%;
    }

    footer {
        height: 550px;
    }
}

@media (max-width: 420px) {

    nav ul li a {
        letter-spacing: 0px;
    }
}

@media (max-width: 400px) {
    .left {
        font-size: 1.0rem;
    }

    nav ul li {
        list-style: none;
        margin: 5px 6px;
    }

    .leftsection {
        font-size: 150%;
    }

    .buttons {
        padding: 20px 0;
    }

    .btn {
        font-size: 0.79rem;
        height: 50px;
        padding: 5px;

    }

    .ver-title {
        font-size: 12px;
        left: -20px;

    }

    .ver-desc {
        font-size: 12px;
        left: -20px;
    }

    footer {
        height: 600px;
    }

}

@media (max-width: 360px) {
    .leftsection {
        min-width: 200px;
    }

    .rightsection {
        min-width: 200px;

    }

    footer {
        height: 600px;
    }
}

@media (max-width: 300px) {

    footer {
        height: 600px;
    }
}